* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and
    height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #6C7A89;
    

}


h1 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    margin: 25px;
    text-align: center;
    color: #ECF0F1;
}

h2  {
  font-size: 25px;
    margin: 20px;
    text-align: center;
    color: #ECF0F1;
}

h3  {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    text-align: center;
    color: #393C62;
    font-weight: bold
   }


h4 {
    font-size: 18px
  
}

h5 {
    margin: auto;
}

/* .nav-bar {
    clear: both;
    overflow: auto;
} */
  
  .title {
    font: 75px; 
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* .nav-links {
    float: right;
  }
  
  ul {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
  } */
  
  li {
    display: inline-block;
    margin: 10px;
    width: auto;
  }
  
  .Image {
    cursor: pointer;
  }
  


  a:link {
    color: black;
    font-weight: bold;
    transition-duration: 0.3s;
  }
  
  a:active {
    color: #393C62;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: #943939;
  }

/* HASH STYLES */

body, html, .main {
  height: 100%;
}

section {
  min-height: 100%;
}


  /* HERO IMAGE & TAGLINE------------------------------------------- */

  
    


/* CANDIDATE CONTAINER-----------------------------------------------*/

/* 
.fixed-size-container { */
.candidates-container  {
    max-width: 1000px;
    margin: 40px auto 0 auto;
    background-color:#BDC3C7;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
 
}

.fixed-sizeR {
    text-align: center;
    margin: 35px;
    border: solid #943939 5px;
    background-color: whitesmoke;
  }

  .fixed-sizeD {
    text-align: center;
    margin: 35px;
    border: solid #393C62 5px;
    background-color: whitesmoke;
  }

  


/* RESULTS---------------------------------------------------*/

/* .results {
    margin: 30px; 
} */

.results-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex; 
    min-height: 500px;
    border: 2px solid black;

}

.first {
    background-color:#F2F1EF;
    flex: 1;
    display: flex;
    flex-direction: column;


}

.first-a {
   /* max-width: 490px; */
   background-color:#F2F1EF;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

.first-b {
  /* max-width: 490px; */
  background-color:#F2F1EF;
    border: 2px solid black;
    padding: 20px;
 
}

.second {
    /* max-width: 490px;   */
    background-color:#F2F1EF;
    padding: 20px;
    flex: 1;
    border: 2px solid black;
}


#results-YouTube-list li h4 {
  text-decoration: underline; 
  font-size: 1.2em
}

#results-News {
  align-content: center;
  padding: 10px;
}
#results-News-list img {
  width: 100%;
  max-width: 250px;
}


#results-News-list h4 {
  text-decoration: underline; 
}

.error-message {
    color: red;
}



/* CONNECT-------------------------------------------------------- */

.connect-container {
   margin: auto;
   text-align: center;
   margin: 20px;

}


/* FOOTER----------------------------------------------------------*/

.footer-container {
    margin: auto;
    text-align: center;
    margin: 20px;
  }

/* MEDIA QUERIES---------------------------------------------------*/