* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and
      height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    /* font-size: 15px; */
    background-color: #232222;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  

h1 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin: 25px;
    text-align: center;
    color: #ECF0F1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  h2 {
    font-size: 25px;
    margin: 20px;
    text-align: center;
    color: #ECF0F1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  h3 {
    font-family: 'Merriweather', serif;
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid black;
    padding: 5px;
    background-color: #BDC3C7;
  }
  
  h4 {
    font-size: 18px;
    text-decoration: underline;
    font-size: 1.2em;
  }
  
  h6 {
    margin: auto;
    color: #ECF0F1;
  }
  
  /* HEADER / NAV BAR */
  
  .nav-bar {
      text-align: center;
      background-color: #232222;
  }
  
  .nav-bar .nav-links a:link {
    color: whitesmoke;
    font-weight: bold;
    transition-duration: 0.3s;
  }
  
  .nav-bar .nav-links a:visited {
    color: whitesmoke;
  }
  
  .nav-bar .nav-links a:hover {
    color: darkorchid;
  }
  
  .nav-bar .nav-links a:active {
    color: #393C62;
  }
  
  
  .title {
    font: 75px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
    
  ul {
      display: inline-block;
      list-style-type: none;
      text-decoration: none;
    }
  
  
  
  li {
    display: inline-block;
    margin: 10px;
    width: auto;
  }
  
    
  a:link {
    color: black;
    font-weight: bold;
    transition-duration: 0.3s;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: #808080;
  }
  
  a:active {
    color: #393C62;
  }
  

.voter-container {
    max-width: 1000px;
    background-color: #232222;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px;
}

* FOOTER----------------------------------------------------------*/

.footer-container {
  margin: auto;
  text-align: center;
  margin: 20px;
  color: whitesmoke;
}

/* MEDIA QUERIES  */

/*iPhone portrait--------------------*/

@media only screen and (min-width: 320px) {
  
}



/*iPhone landscape-----------------*/

@media only screen and (min-width: 480px) {
 
  h1 {
    font-size: 24px;
  }
  
}

/*ipad potrait--------------------*/

@media only screen and (min-width: 768px) {
 

     h1 {
      font-size: 30px;
    }
    
    
}

/*ipad lanscape / small laptop----------*/

@media only screen and (min-width: 1024px) {
  

  h1 {
    font-size: 40px;
  }
  

}

/* large desktop-------------------- */

@media only screen and (min-width: 1600px) {
  
}